<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
</head>
<body>
    <div>
        <% for (let i=0; i<cmds.length; i++){%>
            <% let cmd = cmds[i]; %>
            <h3><%= cmd.phone_number %></h3>
            <% for (let key of Object.keys(cmd.desc)){%>
                <% let desc = cmd.desc; %>
                <h4><%= key %> : <%= desc[key] %></h4>
            <%}%>
        <%}%>
       
    </div>
</body>
</html>